:root{
  --pramary-color:#adf0d4;
  --secondary-color:#1fd8a4;
  --bg-color:#0d1512;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition-duration: 200ms;
}
body{
    background: var(--bg-color);
    color: var(--pramary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 14px;

}
p{
    font-size: 1.05em;
}
.darkerText{
    color: var(--secondary-color);
}
main,header,footer{
 max-width: 700;
 margin: 0 auto;
 width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}
nav{
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 32px;
}
nav a{
    cursor: pointer;
    text-decoration: none;
}
nav a:hover{
    opacity: 0.7;
    
}
main,section,.nameContainer{
    display: flex;
    flex-direction: column;
}
main{
    gap: 64px;
}
section{
    gap:48px;
    padding-bottom: 64px;
}
.nameContainer{
    gap: 8px;
}
.statsContainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
}
.imageContainer{
    max-height: 114px;
    overflow: hidden;

}
.imageContainer img{
    width: 100px;
    object-fit: cover;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.stats{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.stats>div{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}
.stats div i{
    font-size: 1.4em;
}
.stats div div{
    display: grid;
    place-items: center;
    min-width: 40px;
}
.aboutMe{
line-height: 1.5em;
}
.outreach{
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    width: fit-content;
    margin-right: auto;
}
.outreach:hover{
    opacity: 0.7em;
}
.outreach i{
    transform: rotate(-45deg);
}
@media (min-width:640px){
    .statsContainer{
        flex-direction: row;
    }
.stats{
    gap: 0px;
}
}
.projectContainer{
    display: flex;
    flex-direction: column;
    gap:32px;
}
.headerText{
    margin-bottom: 14px;
}
.ProjectItem{
    display: flex;
    align-items: stretch;
    gap:24px;
}
.ProjectItem div:first-child{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.ProjectItem>div:last-child{
    aspect-ratio: 16/9;
    max-width: 30%;
    overflow: hidden;
    border-radius: 8px;
}
.ProjectItem>div:last-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.linkContainer{
    display: flex;
    align-items: center;
    gap: 24px;

}
.linkItem{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 14px !important;
    color:var(--pramary-color);
    text-decoration: none;
    cursor: pointer;
}
.linkItem:hover{
 opacity: 0.7;
}
.linkItem p{
    font-size: 0.9em;
}
.aboutMe{
    width: 80%;
    margin-right: auto;
}